body {

  background: #ddd url(../src/lol.jpg) repeat top left;
  font-weight: 300;
  font-size: 15px;
  color: rgb(3, 3, 3);
  font-weight: 300;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  overflow-x: hidden;
}
