.body2 {
  background: #ddd url(../src/lol.jpg) no-repeat center top;
  font-weight: 300;
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;

  overflow-x: hidden;

  -webkit-backgro: cover;
  -moz-background-size: cover;
  background-size: cover;
}
